@import "variables.scss";
@import "mixins.scss";

$code-color-lineno: grey;
$code-color-keyword: black;
$code-color-type: black;
$code-color-comment: grey;

.highlight-label {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-bottom: none;

    a {
        font-family: $font-code;
    }
}

.highlight-group pre {
    margin: 0;
}

code, pre.code {
  font-family: $font-code;
  padding: 0 0.25rem 0 0.25rem;
}

pre code, pre.code {
    display: block;
    box-sizing: border-box;
    padding: 0.5rem;
    overflow: auto;
}

pre {
    @include bordered-block;
    box-shadow: 0 0 1rem rgba(black, 0.08);
}

.chroma {
    .lntable {
        border-spacing: 0;
        padding: 0.5rem 0 0.5rem 0;
        background-color: $code-color;
        border-radius: 0;
        display: block;
        overflow: auto;
        margin-bottom: 1rem;

        td {
            padding: 0;
        }

        code {
            border: none;
            padding: 0;
        }

        pre {
            margin: 0;
        }

        .lntd:last-child {
            width: 100%;
        }
    }

    .lntr {
        display: table-row;
    }

    .lnt {
        display: block;
        padding: 0 1rem 0 1rem;
        color: $code-color-lineno;
    }

    .hl {
        display: block;
        background-color: #fffd99; 

        .lnt::before {
            content: "*";
        }
    }
}

.kr, .k {
    font-weight: bold;
    color: $code-color-keyword;
}

.kt {
    font-weight: bold;
    color: $code-color-type;
}

.c, .c1 {
    color: $code-color-comment;   
}
