{{ define "main" }}
<h2>{{ .Title }}</h2>
<div class="post-subscript">
    <p>Posted on {{ .Date.Format "January 2, 2006" }}.</p>
    <p>
        Tags:
        {{ range .Params.tags }}
        <a class="button" href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </p>
</div>

<div class="post-content">
    {{ if not (eq .TableOfContents "<nav id=\"TableOfContents\"></nav>") }}
    <div class="table-of-contents">
        <div class="wrapper">
            <em>Table of Contents</em>
            {{ .TableOfContents }}
        </div>
    </div>
    {{ end }}

    {{ if .Draft }}
    <div class="draft-warning">
        <em>Warning!</em> This post is a draft. At best, it may contain grammar mistakes;
        at worst, it can include significant errors and bugs. Please
        use your best judgement!
    </div>
    {{ end }}

    {{ .Content }}
</div>
{{ end }}
{{ define "after" }}
<!--
    <hr class="container footer-divider">
    <footer class="container">
    </footer>
-->
{{ end }}
