<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1dc868">
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ end }}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Raleway&family=Lora&display=block" media="screen"> 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X" crossorigin="anonymous">
    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}
    {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | resources.Minify }}
    {{ $sidenotes := resources.Get "scss/sidenotes.scss" | resources.ToCSS | resources.Minify }}
    {{ $code := resources.Get "scss/code.scss" | resources.ToCSS | resources.Minify }}
    {{ $icon := resources.Get "img/favicon.png" }}
    <style>.sidenote-checkbox { display: none; }</style>
    <style>.feather { width: 1rem; height: 1rem; }</style>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
    <link rel="stylesheet" href="{{ $sidenotes.RelPermalink }}" media="screen">
    <link rel="stylesheet" href="{{ $code.RelPermalink }}" media="screen">
    <link rel="icon" type="image/png" href="{{ $icon.Permalink }}">

    <script src="{{ .Site.BaseURL }}/js/dropdownMenus.js" defer></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.js" integrity="sha384-Qsn9KnoKISj6dI8g7p1HBlNpVx0I8p1SvlwOldgi3IorMle61nQy4zEahWYtljaz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

    <title>{{ .Title }}</title>
</head>
